
.tech.swiper {
    width: 100%;
    margin-top: 30px;
    max-height: 40vh;
    border-radius: 30px;
  
  }
  
  .tech.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tech img{
    object-fit: cover;
    width: 100%;
    height: 100%; 

  }
  .tech .swiper-pagination-bullet {
    background-color: white;
  }
  
  .tech .swiper-pagination-bullet-active {
    background-color: white;
  }